params {
    fastq  = "data/*.fastq"
    ref    = "reference/ref.fa"
    outdir = "results"
}

process {
    executor = 'local'
    cpus = 2
    memory = '2 GB'
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/report.html"
}
