params {
    fastq  = "data/*.fastq"
    ref    = "reference/ref.fa"
    outdir = "results"
    fastqc = "/home/evangelin17/ENTER/envs/bnf/bin/fastqc"
    cutadapt ="/home/evangelin17/ENTER/envs/bnf/bin/cutadapt"
    samtools= "/home/evangelin17/ENTER/envs/bnf/bin/samtools"
    bwa ="/home/evangelin17/ENTER/envs/bnf/bin/bwa"
    bcftools ="/home/evangelin17/ENTER/envs/bnf/bin/bcftools"
}

process {
    executor = 'local'
    cpus = 2
    memory = '2 GB'
}